*{
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
}
body, html{
    width: 100%;
    height: 100%;
}
#loading{
    width: 100%;
    height: 100%;
    background-image: url("./images/loading.jpg");

}
body{
    background-image:
            url("./images/main.png"),
            linear-gradient(
                    to top,
                    #2e1f88 0%,
                    #f94b9a 35%,
                    #ff8c42 70%,
                    #ffd84d 100%
            );
}
#main{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
.imageSetting{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hide{
    display: none;
}
.textCenter{
    text-align: center;
}
.align{
    align-items: center;
}
.flex{
    display: flex;
}
/*#starjackCoinIcon{*/
/*    width: 50px;*/
/*}*/
.textCenter {
    text-align: center;
}

#starjackCoinIcon {
    width: 150px;
    margin-bottom: 15px;
}

#coinScore {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
    letter-spacing: 1px;
    color: #fff;
}

#claimAirdropBtt {
    color: white;
    margin-top: 20px;
    background: linear-gradient(
            to top,
            #2e1f88 0%,
            #f94b9a 35%,
            #ff8c42 70%,
            #ffd84d 100%
    );
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #444;
    transition: 0.3s;
}

#claimAirdropBtt:hover {
    background: #444;
}
#top{
    width: 250px;
    height: 130px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#top img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
