*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
body{
    /*background-color: #212121;*/
    background: linear-gradient(90deg, #1E1E2F, #2B2B3C);
    /*background: linear-gradient(145deg, #0f0f1a, #1c1c2b, #4b0082);*/

    width: 100vw;
    height: 100vh;
    /*margin-bottom: 200px;*/


    color: #FFFFFF;
    font-family: 'Segoe UI', sans-serif;
}
.flex{
    display: flex;
}
.align{
    align-items: center;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    background-color: rgba(33, 33, 33, 0.7);
    cursor: pointer;
    backdrop-filter: blur(2px);
}
footer p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}
.container{
    padding: 20px;
}
.spaceAround{
    justify-content: space-around;
}
#footerButtons svg{
    width: 30px !important;
    height: 30px !important;
    fill: #aaaaaa;
}

.textCenter{
    text-align: center;
}
#footerButtons p{
    color: #aaaaaa;
    font-size: 12px;
    font-weight: bold;

}
.activeButton svg, .activeButton svg *, .activeButton p{
    fill: #8774e1 !important;
    color: #8774e1 !important;
}
.hide{
    display: none;
}
.whiteText{
    color: white;
}
.centerpos{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.upper{
    text-transform: uppercase;
}
.w100{
    width: 100%;
}
#profileAvatar img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#nogift{
    padding: 30px;
}
#selectPage{
    width: 100%;
    height: 50px;
    background-color: #181818;
    border-radius: 10px;
    padding: 2px;
}
.typeGame{
    width: 33%;
    height: 100%;
    border-radius: 10px;
}
.selected.typeGame{
    background-color: #212121;
}
#roulette, #chance{
    margin-top: 30px;
    height: 190px;
    position: relative;
    background-color: #181818;
    border-radius: 10px;
    overflow: hidden;
}
#RouletteSelector{
    pointer-events: none;
    position: absolute;
    top: 5px;
    height: calc(100% - 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background-color: #8774e1;
    opacity: .5;
}
#RouletteSelector::before, #RouletteSelector::after{
    content: "";
    width: 1px;
    height: 1px;
    left: 0;
    position: absolute;
    background-color: #8774e1;

}
#RouletteSelector::before{
    top: 1px;
    transform: translate(.5px) rotate(-45deg) scale(11.314);
    transform-origin: bottom left;
}
#RouletteSelector::after{
    bottom: 1px;
    transform: translate(.5px) rotate(45deg) scale(11.314);
    transform-origin: top left;
}
.overflowHidden {
    overflow: hidden;
    width: 300px; /* ширина видимой области рулетки */
    border: 2px solid #ccc;
}

#rouletteItems {
    display: flex;
    transition: transform 0.3s ease-out;
    will-change: transform;
    position: relative;
}


.rouletteItem{
    width: 150px;
    height: 100%;
    border-radius: 10px;
    background-color: #212121;
    padding-top: 10px;
    margin: 0 5px;
    position: relative;

}
.rouletteItem img{
    width: 120px;
    max-height: 120px;
    /*height: 50px;*/
}
.price{
    /*color: #ba7000;*/
    /*background-color: #f0b40029;*/
    /*display: inline-block;*/
    padding: 10px;
    /*border-radius: 10px;*/
    background: linear-gradient(90deg, #FFD700, #FFA500);
    color: black;
    box-shadow: 0 0 8px #ffdd0077;
    font-weight: 600;
    border-radius: 12px;
}




.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
#main, #fond{
    margin-bottom: 100px;
}
#spinButton, #depositButton{
    background-color: #8774e1;
    width: 100%;
    height: 60px;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
}
#chance{
    overflow-x: auto;
    height: 150px;
    padding: 10px;
    font-size: 10px;
    /*flex-direction: row-reverse;*/
}
#chance img{
    width: 50px;
}
#chance .rouletteItem{
    padding: 15px;
}

.starIcon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./images/star.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.starParent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
#sellOrReciveGift{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(33, 33, 33, 0.7);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
#closePage, #closePageDeposit, #closeSendFriendPage{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}
#buttonSellOrRecive{
    position: absolute;
    bottom: 50px;
    left: 10px;
    width: 100%;
    height: 50px;
    z-index: 999;
}
#buttonSellOrRecive button{
    width: 50%;
    height: 50px;
    background-color: rgba(135, 116, 225, 0.15);
    color: white;
    border-radius: 10px;
    margin: 10px;
}
#depositButton{
    width: 200px;
    border-radius: 10px;
}
#depositPage{
    width: 100%;
    height: 50%;
    background-color: #212121;
    position: fixed;
    bottom:  -50%;
    left: 0;
    z-index: 100;
    transition: 0.2s;
}
#depositPage.active{
    bottom:0;
}
#blurEffect{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}
#idInput{
    border-radius: 14px;
    box-shadow: 0 0 0 2px hsla(0,0%,100%,.1);
    padding: 12px 16px;
    background: transparent;
    color: white;
}
#send{
    background-color: #8774e1;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}
.perChildSpaceTop *{
    margin-top: 25px;
}
#giftsUser{
    margin-bottom: 80px;
    justify-content: center;
}
.giftsUser{
    /*width: 150px;*/
    width: 140px;
    text-align: center;
    background-color: #181818;
    /*background-color: #2F3C4F;*/
    border-radius: 20px;
    padding: 10px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.statusGift{
    background-color: #4F9DFF;
    width: 100px;
    height: 26px;
    position: absolute;
    right: -34px;
    top: 3px;
    transform: rotate(45deg);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.giftsUser img{
    width: 100px;
    height: 100px;
}
.giftsUser > *{
    margin: 10px;
}

#dialog{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 999;
}
#loading, #maintenance{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: midnightblue;
    background-image: url("./images/loadingImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#maintenance{
    background-image: url("./images/maintenance.png");
    background-size: contain;
    background-color: black;
}
.message{
    width: 300px;
    min-height: 70px;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.message.success{
    background-color: green;
}
.message.error{
    background-color: red;
}
#spinButton:disabled{
    filter: brightness(0.5);
}
#fondBackground{
    width: 100%;
    height: 400px;
    background-image: url("./images/backgroundBigPig.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#fondText{
    text-align: center;
    font-size: 30px;
    color: gold;
}
#fondImage{
    width: 282px;
    height: 200px;
    background-image: url(./images/empty.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 105px;

}



.search-bar {
    display: flex;
}
/*body {*/
/*    background: #f1f1f1;*/
/*    height: 100vh;*/
/*}*/
.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
    transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
    width: 3em;
    height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
    cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
    width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent;
}
.search-bar {
    margin: auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 30em;
}
.search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
}
.search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}
.search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
}
.search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em,0) rotate(45deg);
    transform-origin: 0 50%;
}
.search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
    background: #2762f3;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
    opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
    background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
    transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
    input {
        color: #f1f1f1;
    }
    .search-bar input {
        box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
        background: #3d3d3d;
        box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
        background: #f1f1f1;
    }
}
#usersList{
    overflow: auto;
    height: 70vh;
}
#usersList .user{
    /*height: 30px;*/
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 5px;
}
#usersList .user.selected{
    background-color: #8774e1;
}
#sendFriendPage{
    width: 100%;
    height: 100%;
    background-color: #181818;
    position: fixed;
    bottom: 0;
    transform: translateY(100%);
    border-radius: 10px;
    z-index: 2000;
    transition: 0.3s;
}
#sendFriendPage.active{

    transform: translateY(0%);
}
#copyIcon{
    width: 20px;
    height: 20px;
    fill: white;
}
.activeCopy{
    color: #fff !important;
}





.switchLang {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 10px;
    width: 97px;
}

.switchLang > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
    color: #8774e1;
}

input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
}

.switchLang > span.on {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 2px;
    color: #8774e1;
}

.switchLang > span.off {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 4px;
    color: #fff;
}

.check-toggle {
    position: absolute;
    /*margin-left: -9999px;*/
    visibility: hidden;
}
.check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.check-toggle-round-flat + label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #8774e1;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #8774e1;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}


input.check-toggle-round-flat:checked + label:after {
    margin-left: 41px;
}

#selectCasePage .case{
    /*width: 140px;*/
    padding: 12px;
    /*background-color: #181818;*/
    /*border-radius: 10px;*/
    background-color: #2F3C4F;
    border-radius: 12px;
    /*padding: 16px;*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    /*margin: 10px;*/
    margin: 4px;
}
#selectCasePage .caseImg{
    width: 100px;
    /*height: 100px;*/
}
#selectCasePage{
    justify-content: center;
}
#casesHeaderUserInfo{
    transition: 1s;
}
#closeCasesParent{
    display: none;
}
#headerCases.active #closeCasesParent{
    display:  flex;
}
#headerCases.active #casesHeaderUserInfo{
    flex-direction: row-reverse;
}


.close-btn {
    width: 32px;
    height: 32px;
    background: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
#rouletteItems.animate{
    animation: animateRoulette 10s linear infinite;
}
@keyframes animateRoulette {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-25%);
    }
}


.giveaway-card {
    background-color: #1e1e1e;
    border-radius: 15px;
    padding: 20px;
    /*display: flex;*/
    /*gap: 20px;*/
    max-width: 600px;
    width: 100%;
}

.giveaway-image {
    /*flex-shrink: 0;*/
}

.giveaway-image img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
}

.giveaway-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.giveaway-header {
    font-size: 16px;
    margin-bottom: 10px;
}

.giveaway-link {
    color: #3390ec;
    text-decoration: none;
}

.giveaway-info {
    width: 100%;
    font-size: 14px;
    /*line-height: 1.6;*/
}

.giveaway-info-item {
    /*display: block;*/
    margin: 5px
}

.giveaway-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.giveaway-timer,
.giveaway-complete {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.giveaway-timer {
    background-color: #2b2b2b;
}

.giveaway-complete {
    background-color: #3a3a3a;
    color: #888;
}

.giveaway-button {
    display: inline-block;
    /*background-color: #093b91;*/
    /*color: #fff;*/
    background: #1d2733;
    color: #0a84ff;
    font-weight: bold;
    padding: 12px 30px;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;
    text-decoration: none;
    transition: background-color 0.3s;
}

/*.giveaway-button:hover {*/
/*    background-color: #0d47a1;*/
/*}*/

.giveaway-icon {
    margin-right: 5px;
}

.giveawayBttTabContainer {
    display: flex;
    background-color: #1e2733;
    border-radius: 12px;
    padding: 4px;
    /*width: fit-content;*/
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-around;
}

.giveawayBttTab {
    background: transparent;
    border: none;
    color: #b0b0b0;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.giveawayBttActive {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

#ads {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

#animateAds {
    transition: 1s;
    display: flex;
    /*width: calc(2 * 100%); */
/*    items * 100% */
}

.ad {
    /*flex: 1;*/
    width: 100%;
    height: 200px; /* Задай нужную высоту */
    overflow: hidden;
    /*background-image: url("./images/ads/ads1.jpg");*/
    background-size: contain;
    background-color: #21015a;
    background-repeat: no-repeat;
    background-position: center;
}
.buttonsFooter{
    position: relative;
    overflow: hidden;

}
.buttonsFooter .statusGift{
    width: 100px;
    height: 15px;
    font-size: 12px;
}